body{

  font-size: 170% !important;


    height:100%;  
  /*background: url(../img/background.jpg) no-repeat center center fixed; put img in body so that it wnot slide with carousel */
  /*-webkit-background-size: cover; so img covers screen*/
 /* -moz-background-size: cover;so img covers screen*/
 /* -o-background-size: cover;so img covers screen*/
 /* background-size: cover;so img covers screen*/
}


.panelHeader{
  text-transform: uppercase;
  font-weight: bold;
}

hr{
    border: 1px solid #FFFFFF;
}

h1{
	font-size: 300% !important;
	text-transform: uppercase;
}
h2{
    font-size: 200% !important;
    text-transform: uppercase;
}
h3{
    font-size: 175% !important;
    text-transform: uppercase;
}

h4{
    font-size: 160% !important;
    
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-white {
    background-color: #fff;
}


.bg-light-red {
    background-color: #E27070
;
}
.startText {
	color: white;
	font-weight: bold;
}
.bg-dark-blue {
	background-color: #0000B2
;
}
.belowNav{
	padding-bottom: 15px;
}

.table td {
   text-align: center;   
}

/*
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
	
}

ul.navbar li {
    display: inline;
}*/
.container-wide {
	padding-left: 50px;
	padding-right: 50px;
}

.container-medium {
    padding-left: 5vw;
    padding-right: 5vw;
}

.container-small {
    padding-left: 3vw;
    padding-right: 3vw;
}

section {
    padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 0;
	padding-left: 0;

}

article {
	padding: 20px 30px;
}

.titleSection{
	padding: 25px 0;
	 background-color: #f7f7f7;
}

.smallContainer{
	margin-left:50px;
	margin-right:50px
}

header {
    text-align: center;
    color: white;
	
    background-attachment: scroll;
    background-image: url(../img/trading.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	vertical-align: middle;
    -o-background-size: cover;
}

.indexText{
text-align: center;
font-size:50px;
}

.textcenter{
text-align: center;

}

.rightAlign{
text-overflow: ellipsis;

}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

.rightStick{
  /*position fixed means it wont move when scrolling but you HAVE to specify top/right/left etc whenever position=fixed
  , if top =260 it means its 260px from top of screen no matter what
    thats why its fixed.
  */
    /*position:fixed;
    right:250px;
    top:65px;*/
    width: 600px;
    overflow-y:scroll;/*so you can scroll the div*/
    height:800px;/*without height you cant scroll it */
    background: white;
    padding: 15px;
}



.poster {
  background-size:100% 100%;
}

.poster img {
    display: block;
    width: 100%;
    max-width: 450px; /* corresponds to max height of 450px */
}

.miniPoster img {
    display: block;
    width: 100%;
    max-width: 150px; /* corresponds to max height of 450px */
}



.screenshots img {
    width: 100%;
    max-width: 550px; /* corresponds to max height of 450px */
}

.rotten p {
  font-size: 16px;
}

 #sidebar.affix-top {
    position: static;
    margin-top:30px;
  }
  
  #sidebar.affix {
    position: fixed;

  }

  .affix-top,.affix{
  position: static;
}




    .thumb {
  margin-bottom: 30px;
  height : 370px;
   max-height: 370px;
}



.thumb img {
width: 90%;
  height : 370px;
  max-height: 370px;
    overflow-y: hidden;
}


/*5 columns*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
/*width 20% so there will be 5 columns*/
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


/*2 custom columns*/
.col-xs-50,
.col-sm-50,
.col-md-50,
.col-lg-50 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-50 {
    width: 50%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-50 {
        width: 100%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-50 {
        width: 100%;
        float: left;
    }
}
@media (min-width: 1750px) {
    .col-lg-50 {
        width: 50%;
        float: left;
    }
}

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.formHover li {
  cursor: pointer;
}

.captionjs, .captionjs figcaption {
      margin: 0 0 20px;
      padding: 0;
    }
    .captionjs figcaption {
      font-size: 13px;
      line-height: 1.5;
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-top: none;
      background-color: #eee;
    }
    .captionjs.stacked figcaption {
      background-color: rgba(0, 0, 0, 0.75);
      color: #fff;
      border: none;
    }
    .captionjs.animated figcaption {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      background-color: rgba(0, 0, 0, 0.75);
      color: #fff;
      border: none;
    }
    .captionjs.hide figcaption {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      background-color: rgba(0, 0, 0, 0.75);
      color: #fff;
      border: none;
    }
    .captionjs.default a {
      color: #000;
    }

    /*rickshaw js*/
    #chart_container, #sentchart_container {
      width: 960px;
    }
    .swatch {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 8px 0 0;
    }
    .label {
      color: black;
      display: inline-block;
    }
    .line {
      display: inline-block;
      margin: 0 0 0 30px;
    }
    #legend, #sentlegend {
      text-align: center;
    }
    .rickshaw_graph .detail {
      background: none;
    }
    #y_axis, #senty_axis {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 40px;
    }
    
        #axis0 {
        position: absolute;
        height: 800px;
        width: 40px;
      }
      #axis1 {
        position: absolute;
        left: 1050px;
        height: 800px;
        width: 40px;
      }


.svg-container {font: 8px Arial;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

 svg {
    display: block;
}